* {
    box-sizing: border-box;
}
html{
    margin: 0px;
    padding: 0px;

}
body {
    min-height: 100vh;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 24vh;
    transform: translate(-50%,-50%);
}
.boxtan {
    position: absolute;
    width: 130px;
    height: 180px;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 24vh;
    left: 110%;
    transform: translate(-50%,-50%);
    transform: scaleX(-1);
    z-index: 5;
}
.image{
    height: 100vh;
    scroll-snap-align: center;
    background-position: center;
    background-size: cover;
    background-image: url(/img/BG.png);
    z-index: -88;
}
.div1{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 25vh;
    width: 100%;

}
.ground1{
    margin: 0;
    padding: 0;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(/img/Tiles/1.png);
    z-index: 0;


}
